:root {
    /* Colors */
    --link-color: black;
    --highlight-color: #0087cc;

    --font-color: #000;

    --h1-color: #000;
    --h2-color: #000;
    --h3-color: #666;
    --h4-color: #d7ba7d;

    /* Misc */
    --margin: 10px;
    --padding: 10px;
}