:root {
    /* Colors */
    --font-color: #fff;
    --link-color: #8cf;
    --highlight-color: #C9CB00;
    --h1-color: #fff;
    --h2-color: #fff;
    --h3-color: #eee;
    --h4-color: #d7ba7d;

    /* Misc */
    --margin: 10px;
    --padding: 10px;
}

/* Layout */
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
}

body {
    color: var(--font-color);
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 150%;
}

#index {
    background-image: url("../images/JAX23_Template_1920x1080_68880_v2a.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

#slides {
    background-image: url("../images/JAX23_Template_1920x1080_68880_v2b.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

footer {
    color: var(--font-color);
    display: table;
    table-layout: fixed;
}

footer > div {
    display: table-cell;
}

footer > div:last-child {
    text-align: right;
}

#container {
    width: 100%;
}

#content h1 {
    text-decoration: none;
    border-bottom: 1px solid var(--h1-color);
    margin-bottom: 10px;
}

#content h2 {
    text-decoration: none;
    border-bottom: 1px solid var(--h2-color);
    margin-bottom: 10px;
}

#sidebar a {
    display: block;
}

#index #header {
    padding-top: 400px;
}

#header {
    width: 100%;
}

#headline, #split, nav, footer {
    width: 70%;
    margin: 0px auto;
    padding: var(--padding);

    /* Stupid hack */
    min-width: 844px;
}

#headline h1 {
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
}

#headline h2 {
    display: inline-block;
    padding-left: var(--padding);
    border-bottom: none;
}

/* Text */
a:link, a:visited {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--highlight-color);
}

h1 {
    color: var(--h1-color);
    text-decoration: none;
    border-bottom: 1px solid var(--h1-color);
}

h2 {
    color: var(--h2-color);
    text-decoration: none;
    border-bottom: 1px solid var(--h2-color);
}

h3 {
    color: var(--h3-color);
    text-decoration: underline;
    display: inline;
}

h3, h4 {
    padding-top: 10px;
}

h4 {
    color: var(--h4-color);
}

.slide-content li {
    margin-left: 40px;
    padding: 0px 0px var(--padding) 0px;
    color: var(--font-color1);
}

.center {
    text-align: center;
}